/* For WebKit Browsers (Chrome, Safari, Edge) */
.thin-scrollbar::-webkit-scrollbar {
  width: 5px; /* Width of the entire scrollbar */
  height: 5px; /* Height of the horizontal scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Color of the tracking area */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Color of the scroll thumb */
  border-radius: 10px; /* Roundness of the scroll thumb */
  border: 2px solid #edf2f7; /* Creates padding around the scroll thumb */
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Color of the scroll thumb on hover */
}

/* For Firefox */
.thin-scrollbar {
  scrollbar-width: thin; /* Can be "auto", "thin", or "none" */
  scrollbar-color: #a0aec0 #edf2f7; /* thumb color track color */
}