<!-- <p>leave-request-list works!</p>
<div class="p-4">
  <h2 class="text-lg font-semibold mb-3">My Leave Requests</h2>

  <table class="min-w-full border">
    <thead>
      <tr class="bg-gray-100">
        <th class="p-2 border">Type</th>
        <th class="p-2 border">Start</th>
        <th class="p-2 border">End</th>
        <th class="p-2 border">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of requests">
        <td class="p-2 border">{{ req.leaveType }}</td>
        <td class="p-2 border">{{ req.startDate }}</td>
        <td class="p-2 border">{{ req.endDate }}</td>
        <td class="p-2 border">{{ req.status }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
