<!-- src/app/features/role/role.component.html -->
<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" (click)="openRoleDialog('create')">
      + Create Role
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full bg-white">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let role; let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let role"> {{role.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let role"> {{role.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let role; let i = index">
        <button mat-icon-button color="primary" (click)="openRoleDialog('edit', i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="openRoleDialog('view', i)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="openRoleDialog('delete', i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
