<div class="p-4 bg-gray-100 min-h-screen">
  <div class="bg-white shadow rounded-lg p-4">
    <h2 class="text-xl font-bold mb-4">{{assignedClasses[0].name}}</h2>

    <table mat-table [dataSource]="dataSource" matSort class="w-full">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let student; let i = index;"> {{ i + 1 }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let student"> {{ student.name }} </td>
      </ng-container>

      <!-- Class Column -->
      <!-- <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
        <td mat-cell *matCellDef="let student"> {{ student.class }} </td>
      </ng-container> -->


      <!-- Cotact Column -->
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
        <td mat-cell *matCellDef="let student"> {{ student.contact }} </td>
      </ng-container>


      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let student"> {{ student.email }} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let student">
          <button mat-flat-button color="primary" class="!rounded-full"(click)="viewDetails(student)">
            <mat-icon class="mr-2">visibility</mat-icon> View Details
          </button>

        </td>
      </ng-container>

      <!-- Header + Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>